h1{
    font-size: 35px;
    font-weight: 500;
}


.banner{
    margin-bottom: 75px;
    width: 80%;
    margin: auto;
}

.middle{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    margin-bottom: 75px;
}

.Plus-option{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-bottom: 75px;
}

.party-supplies{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 75px;
}


.party-supplies img{
    border-radius: 50%;
    width: 80%;
}


.offers{
    background-color: rgb(235, 235, 235);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}


.offers h1{
    color: red;
    font-size: 50px;
}


.offer-card{
    display: flex;
    justify-content: space-evenly;
}


.offer-card img{
    width: 35%;
}

.treasure{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 90px;
}

.treasure h2{
    font-size: 30px;
    font-weight: 600;
}


.treasure div{
    padding: 20px;
}


.treasure .sub-div{
    padding: 0px 40px;
}

.sub-div p{
    font-size: 20px;
}


.sub-div button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
}



.preview{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}


.image.part{
    position: relative;
}


.preview button{

    bottom: 20px;
    right: 40%;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
}


.product-preview{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.product-preview div{
    box-shadow: rgb(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.product-preview img{
    width: 90%;
}


.product-preview h4{
    font-weight: 400;
}


.sweet-saving{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}



.sweet-saving img{
    width: 48%;
}